.kotlin {
  background-color: rgb(68, 67, 67);
  /* background-image: url(../images/bg4.jpg); */
  background-image: url(https://wallpaperaccess.com/full/3098946.jpg);
  background-position: center center;
  background-size: cover;
  color: rgb(199, 233, 247);
}
